/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.pixel-art > img {
	image-rendering: auto; 
	image-rendering: crisp-edges; 
	image-rendering: pixelated;
}